[2015-04-11 11:19] MattM9 opened #1 "Is there.."
A way to stop the squawk and aircraft type rotating and flashing? e.g. in your datalink example video.

Thanks

[2015-04-11 11:44] MattM9 commented on #1
Hello again,

Is there also a way to edit the tag content? e.g. to remove aircraft type and just have Stand number for inbounds?

[2015-04-11 12:41] pierr3 commented on #1
I'll add the possibility to toggle on/off the squawk warning. No there is no way to edit the tag content, but i'll see about changing the current layout to make the single line tag more realistic.

[2015-04-11 12:43] MattM9 commented on #1
Hi Pierre,

Thanks for the reply... There is somewhere on the Vatsim UK forum is a
picture of the tags in the UK. I'll try and find a link for you.

Thank you and great job!

Matt

On Saturday, April 11, 2015, Pierre Ferran notifications@github.com wrote:

##

Matt Middleton
07962-130470

[2015-04-11 15:30] sw104 commented on #1
Sorry to butt in!

Here is a link to the tags at Heathrow: http://community.vatsim-uk.co.uk/topic/29397-image-heathrow-smr-tags/?hl=buff#entry263760

Here is a link to how the tags are correlated to each aircraft (if you want to implement this): http://community.vatsim-uk.co.uk/topic/28399-images-gatwick-smr-photos/

[2015-04-11 19:25] TheoBearman opened #2 "Suggestion"
Make aircraft symbol trigger ground status dialogue on left click.

Discussed on Skype. Including the possibility of a 'reset' button which would help deal with the 'Push' button being accidentally pressed.

[2015-04-11 20:54] pierr3 commented on #1
@samwhite1 Thanks for that, and yes i'll be interested in introducing realistic correlation on the ground.

[2015-04-11 23:11] samwhite1 opened #3 "Arrivals Stand"
Hi,

Would it be possible for the arrivals stand to also be read from the 'assigned speed' field in EuroScope as well as the scratchpad, as lots of people put the arrivals stand in here instead of the scratchpad, and it is also standard procedure to do this at Heathow?

Thank you very much,
Sam

[2015-04-11 23:17] pierr3 commented on #3
I'll consider it.

[2015-04-11 23:17] sw104 commented on #3
Thanks!

[2015-04-11 23:28] pierr3 commented on #2
After extensive testing, it's unfortunately technically not possible :confused: I'll ask Gergely if he would be able to add that feature in the next version.

[2015-04-11 23:28] #2 closed

[2015-04-11 23:35] samwhite1 opened #4 "Aircraft Direction During Pushback"
Hello,

When aircraft are pushing back their polygon points in the direction of pushback instead of the actual direction the aircraft is facing. Would it be possible to draw the primary target polygon based on the aircraft's heading?

Thanks,
Sam

P.S. Sorry for the premature posting.

[2015-04-12 00:10] pierr3 commented on #4
Fixed in 77bad83219eab39084d93ace2a1ae60391862f0a.

[2015-04-12 00:10] #4 closed

[2015-04-12 00:12] pierr3 commented on #1
Aircraft type and squawk errors can be hidden in 77bad83219eab39084d93ace2a1ae60391862f0a, also squawk error doesn't flash anymore.

[2015-04-12 09:38] TheoBearman commented on #2
Can you ask Gergely if he can put a 'reset' option in the ground status dialogue too then?

[2015-04-12 10:55] pierr3 commented on #2
I will.

[2015-04-12 13:11] pierr3 commented on #3
Option has been added in 22d309cb4de65bf8e215d790fb9a59aee6f3d6d4

[2015-04-12 13:11] #3 closed

[2015-04-12 15:10] aldertonr opened #5 "Aircraft shapes"
Hi,

Would it be possible to add in a feature where we could change the shape of the aircraft? Instead of it just being a big arrow, it'd make things a lot easier when it's busy!

Cheers!

[2015-04-12 18:46] pierr3 commented on #5
There is already a way to hide them in the menu, a way to edit them I won't do. But I'll make them prettier that's for sure.

[2015-04-12 18:47] ryana-0154 commented on #5
By editing I mean like the way there is built into euroscope, I'd much prefer something that isn't a little arrow!

[2015-04-12 18:52] pierr3 commented on #5
Yep, the plugin can't and doesn't use the EuroScope built-in editing feature, and if you want the little airplane that won't happen since it's unrealistic ;)

[2015-04-12 18:53] ryana-0154 commented on #5
I don't want the little aeroplane, just a filled dot would do! it's just the arrow is too big!

[2015-04-13 14:31] pierr3 commented on #5
I won't just put a filled dot, that's unrealistic. The arrow is not correct I agree, but for the size, it is actually the size of an aircraft, and it changes depending on the aircraft type, so the arrow isn't too big, it's actually the correct size ;)

[2015-04-13 14:35] ryana-0154 commented on #5
What shape for the aircraft are you thinking then?

[2015-04-13 14:37] pierr3 commented on #5
Take a look at the real world screenshots ;)
http://community.vatsim-uk.co.uk/topic/29397-image-heathrow-smr-tags/

[2015-04-13 14:38] ryana-0154 commented on #5
Yep i'm happy with that! Are you thinking about those tags too?

[2015-04-13 14:43] pierr3 commented on #5
Those tags already where implemented in the dev build, check out the last commits !

[2015-04-13 14:44] ryana-0154 commented on #5
ah right!

[2015-04-16 19:40] TheoBearman opened #6 "Save Settings in RIMCAS and Approach Window"
Can we have the settings selected in the RIMAS menu and the approach window saved on close?

Can we also have the approach window opened on load if we had it open last time we closed Euroscope.

Thanks!

[2015-04-16 20:14] pierr3 commented on #6
Hi, normally, the approach window state (open/closed) is already saved. I'll work on the rest.

[2015-04-17 06:32] TheoBearman commented on #6
Doesn't seem to be saving for me.

[2015-04-17 15:42] pierr3 commented on #6
@TheoBearman Can you try with EuroScope 3.2r2 beta? Download it here: http://euroscope.hu/installbeta/changes.html and tell me if it works.

[2015-04-17 17:45] TheoBearman commented on #6
@pierr3 It's not saving in 3.2r2.

[2015-04-18 17:03] sw104 opened #7 "CPDLC Frequency"
Hi,

By default the 'NEXT FREQ' field is being filled in as "0.0000" in the CPDLC Flightplan Dialog box, so this is sent instead of the ATC frequency to the pilot - if the field is manually cleared it works as expected and the ATC frequency is sent to the pilot.

Thanks,
Sam

[2015-04-19 10:20] hsugden opened #8 "Insufficient label background"
I have noticed an issue with certain aircraft, where the second line has an insufficient background to be fully covered.
Examples:

![](http://harrysugden.net/screenshots/2015/04/2015-04-19_11-17-52.png)

![](http://harrysugden.net/screenshots/2015/04/2015-04-19_11-18-18.png)

[2015-04-19 10:24] hsugden opened #9 "Countdown timer"
This is clearly an enhancement, that if you can achieve, I'd be most impressed with!

Virtual Controller Assistant currently contains a countdown timer to assist with departure separation, but I was wondering whether vSMR could provide the same. This could be in two ways:
- A countdown timer that you can place somewhere around the screen (it should also save the location of the timer upon closing

[2015-04-19 13:22] pierr3 commented on #8
Somehow reassured that this doesn't only happens to me :p
Will look into it.

[2015-04-19 13:34] pierr3 commented on #1
Op's requests implemented in 59b9214a406023a1aebb40bccf977e99633ccda1

[2015-04-19 13:34] #1 closed

[2015-04-19 15:03] pierr3 commented on #8
Should be fixed in 6dca57cd233af72cd1ff79d6520e622e31366621

[2015-04-19 15:03] #7 closed

[2015-04-20 08:15] erikwachters commented on #8
I have still the same problem with the latest version (vSMR v1.1.0-rc2).

Erik

[2015-04-20 10:47] TheoBearman commented on #8
1.1.0-rc2 did not have this fix included in it.

[2015-04-20 12:46] pierr3 commented on #8
I confirm, the fix will be included in the next release, probably on Friday.

[2015-04-20 21:44] arcticash opened #10 "Double clicking to select aircraft"
I'm not sure how realistic this is but it was very useful when controlling large numbers of a/c at Gatwick!

Previously once an aircraft made contact with ground we where able to double click on an aircraft callsign and that would "Select" the aircraft so that it was highlighted when the mouse is hovered over the departure list, is this something you would look at implementing with this plugin as

[2015-05-02 18:44] pierr3 commented on #8
Not sure if my fix actually works, will keep this opened for testing.

[2015-06-26 17:05] pierr3 commented on #10
I see what you mean, i'm affraid EuroScope won't allow me to do that :confused:

[2015-06-26 17:05] #10 closed

[2015-06-26 17:14] pierr3 commented on #9
Okay, thanks for ideas. I'll implement a smart countdown timer to sequence departures, i'm affraid I won't be able to code something that can mesure when an aircraft starts climbing, i'm not that amazing :stuck_out_tongue_closed_eyes:

[2015-06-26 17:15] pierr3 commented on #8
This will theoricaly be fixed with the new config based system.

[2015-06-26 17:15] pierr3 commented on #6
I'm currently trying new saving methods, will see how that goes.

[2015-06-27 17:50] pierr3 commented on #8
Issue has been found, and will be fixed in the next release, cf http://www.philosophicalgeek.com/2008/04/10/gettextextent-vs-drawtext-with-dt_calcrect/

[2015-06-27 17:50] #8 closed

[2015-06-28 17:04] pierr3 commented on #6
Saving of the current airport has been fixed.

[2015-06-28 17:04] #6 closed

[2015-06-30 01:09] pierr3 commented on #5
Nicer aircraft shapes have been introduced in b3d90d3b78804328dac0392a8ae36346d971f54d, we'll keep that for now, until someone starts yelling. Code by Lionel, cf credits.

[2015-06-30 01:09] #5 closed

[2015-06-30 14:48] TheoBearman commented on #5
Screenshot?

[2015-06-30 16:41] pierr3 commented on #5
![New targets](https://www.dropbox.com/s/b17hm03rdp77c0m/2015-06-30_18-39-41.png?dl=1)

[2015-07-05 19:41] sw104 opened #11 "Runway Closed and Magnetic Variation"
At Stansted the red runway closed outline appears to be offset by a few degrees - this is the same no matter if I select 04 or 22 as closed:
![vsmr runways](https://cloud.githubusercontent.com/assets/8680919/8513111/fb03caae-2355-11e5-89c5-a4ce1b5fe0d8.PNG)

[2015-07-05 19:52] pierr3 commented on #11
I think that may be a EuroScope bug, will try something.

[2015-07-05 21:23] sw104 opened #12 "Strange Primary Targets"
I was just wondering if the primary targets are supposed to look like this:
![vsmr targets](https://cloud.githubusercontent.com/assets/8680919/8513476/5f44ed14-2364-11e5-9154-091ec6580079.PNG)

[2015-07-05 21:23] sw104 commented on #11
Thanks!

[2015-07-05 21:28] pierr3 commented on #12
Yea that's also due to the magnetic variation, try it without and you'll see.

[2015-08-09 12:06] AcriXx opened #13 "Professional Mode Correlation"
Hi,

In the next version of vSMR is it possible to add Professional Mode Correlation ? A bit like Ground without S-mode Radar.

I know in the UK, we can only see the blips of each aircraft when they are not correlated and identified on the ground, and once an aircraft has been correlated and assigned a Squawk code we can see him on the radar screen with his C/S. Do you think it could be possible t

[2015-08-12 08:25] luke11brown opened #14 "CPDLC won't connect"
Since the new version CPDLC won't connect.

Doesn't give me a message to say connected.

I've also checked here, but i'm not logged in.

http://www.hoppie.nl/acars/system/log.html

Thanks

[2015-08-12 11:42] luke11brown commented on #14
Disregard,

I forgot to enter the logon code again.

[2015-08-12 11:42] #14 closed

[2015-08-13 17:20] pierr3 commented on #13
No worries, the pro mode is high on the to-do list.

[2015-08-13 22:10] matthewmoy commented on #13
Oh ok, cool. With the blips only available when not correlated ?

[2015-08-16 10:44] pierr3 commented on #13
The behaviour will be as follows: An aircraft logs in with a flight plan, only the primary blips appears on the gate. When the aircraft request clearance, he will be assign a squawk by the controller, when he squawks that code, he will automatically be correlated. If an uncorrelated aircraft starts to move with a speed > 3kts, his primary blip will be followed by a tag, containing only the system

[2015-08-16 13:45] matthewmoy commented on #13
Oh ok, pretty cool :) Any release date for the beta ?

[2015-08-17 18:56] pierr3 commented on #13
First of all I need to start working on it :stuck_out_tongue_winking_eye:

[2015-08-18 14:37] matthewmoy commented on #13
Oh ok, Haha :D

[2015-08-19 17:24] pierr3 commented on #13
Almost done!
![](https://i.imgur.com/stBkIzb.png)

[2015-08-19 18:44] matthewmoy commented on #13
Nice :-) What is the "T:" ?

[2015-08-19 19:44] pierr3 commented on #13
"Target" then the Target ID, the tag can be customized like the other ones.

[2015-08-19 20:26] matthewmoy commented on #13
Oh cool, really excited to have it :) It will be perfect with my plugin for Manchester !

[2015-08-20 03:46] TheoBearman commented on #13
What plugin is that?

[2015-08-22 21:30] matthewmoy commented on #13
Is this an issue or not ?

Having no space between the text and the background blue ?

http://i.imgur.com/9THhmEc.png

[2015-08-22 21:32] pierr3 commented on #13
Not an issue no, also curious, what Manchester plugin? :stuck_out_tongue:

[2015-08-22 21:35] matthewmoy commented on #13
Oh ok, is there a way to add a little space in the settings file ? Erm .. Do you have a e-mail where I could contact you about it ? Sorry I don't really want to say it here, because only a few people now the existence of this project. Could I contact you via e-mail ? ;-)

[2015-08-22 21:37] pierr3 commented on #13
pierre@ferran.io, and no, no such setting :s. For info, the real world has no padding.

[2015-08-22 21:58] matthewmoy commented on #13
E-mail sent ;)

[2015-08-22 22:14] sw104 opened #15 "Extended Centerline Length Setting Spelling"
Hi,

Once again thank you so much for developing such an amazing plugin and sorry for the lack of progress with the wiki - I have been away for the last month!

Would it be possible to change the `extended_lines_lenght` setting under the `approach_insets` section of the .json settings file to: `extended_lines_length`?

Thanks again,
Sam

[2015-08-22 22:17] pierr3 commented on #15
Yep, sure!

[2015-08-22 22:18] sw104 commented on #15
Thanks! :-)

[2015-08-22 22:51] sw104 opened #16 "Accept Pilot Squawk"
Would it be possible to add an 'Accept pilot squawk' option to the vSMR pro mode, similar to this same function in the default EuroScope professional modes?

E.g. If an aircraft has no assigned squawk and is not squawking a code on a user-editable list of non-discrete squawks in the .json settings file - the same idea as the 'Do not auto correlate' squawks on the EuroScope general settings page -

[2015-08-22 22:53] pierr3 commented on #16
Will add that, didn't think about that eventuality.

[2015-08-22 22:55] sw104 commented on #16
Thanks!

[2015-08-23 14:54] #15 closed

[2015-08-23 15:27] #16 closed

[2015-08-23 15:33] pierr3 commented on #12
I made some checks, this is due to the mag var in EuroScope, it wasn't meant to be used with big magnetic vars, hence why it does funny stuff :s

[2015-08-23 15:33] #12 closed

[2015-08-23 15:33] pierr3 commented on #11
The next version should have an option to manually define the runways, that might fix the bug, otherwise, it's a EuroScope bug.

[2015-08-23 15:33] #11 closed

[2015-11-01 00:12] theomessin opened #17 "Release v1.2.0-beta.1 wrong link"
Tag items correct link:

https://github.com/pierr3/vSMR/blob/master/vSMR/SMRRadar.cpp#L1433-L1445

[2015-11-01 01:44] theomessin opened #18 "Active profile font not working"
Tried to find the error in the code. All I can guess is that the active profile hasn't initialized when getting the active font, therefore everything is rendered using the font from the default profile (ie. font family sizes and weight). That is, profile specific font settings are simply ignored...

[2015-11-02 19:55] pierr3 commented on #18
Yep, I think I fixed it in the latest closed beta, will make sure and let you know.

[2015-11-02 19:56] pierr3 commented on #17
Indeed, gonna write the proper list once is done as this link basically changes everytime I update the code

[2015-11-02 19:56] #17 closed

[2015-11-02 19:56] pierr3 commented on #13
All of that has been implemented in the private beta.

[2015-11-02 19:56] #13 closed

[2015-11-03 20:55] theomessin commented on #17
You can use this one then...
https://github.com/pierr3/vSMR/blob/v1.2.0-beta.1/vSMR/SMRRadar.cpp#L1195-L1209
It is tag specific so code edits won't affect it...

Or you can just reference the wiki here:
https://github.com/pierr3/vSMR/wiki/Editing-the-Plugin-Settings-(.json-file)#available-tag-items

[2015-11-03 23:31] theomessin opened #19 "v1.2.0-beta.1 RIMCAS not showing?"
For some reason, I've been using the plugin for about 1 week now, I haven't seen the RIMCAS arrival popup. According to the wiki, what I got is that it would automatically pop up when an aircraft is arriving, but I haven't seen it yet...

[2015-11-03 23:38] pierr3 commented on #18
Fixed in f0861077f8f41a4dcc4695f6e3fe474f1567394b

[2015-11-03 23:38] #18 closed

[2015-11-04 00:25] theomessin commented on #19
Okay I started fiddling around with the plugin and I found out that all this time I've been using the plugin, I always had an approach inset window at the same place. I later found out that that place was over the RIMCAS popup window and was always on top, therefore hiding it...

TL;DR Solution: Move the approach inset, it's blocking the popup...

[2015-11-04 00:25] #19 closed

[2016-01-04 21:27] matthewmoy commented on #13
Any update/plan to release this as a public beta ? ☺️

[2016-03-07 09:26] morphicsphil opened #20 "showing SID on departure tag"
Hi, looks like this is planned but not yet implemented as I see it in the documentation. Is this still on the to do list as it would be a big help for me!

[2016-03-07 16:23] pierr3 commented on #20
Indeed it seems that the SID tag item is not the public beta, it's in the private though, i'll see if I can publish that one.

[2016-03-07 16:24] ghost commented on #20
Awesome thank you !

[2016-03-08 09:14] ghost commented on #20
Happy to test a private build if you need testers. My C++ knowledge is particularly poor!

[2016-03-21 09:27] ghost commented on #20
Just wondering if you got anywhere with this?

[2016-03-21 13:54] pierr3 commented on #20
Give me the email of your trello account if you have one, or just an email. I'll all you to the beta board ;) Send it to pierre - at - ferran - dot - io

[2016-03-21 13:54] #20 closed

[2016-04-30 11:37] theomessin opened #21 "Save open windows and positions"
Save which approach insets are open as well as their positions. Same for the RIMCAS window...

[2016-05-01 16:23] pierr3 commented on #21
Yep, already fixed, will be in the next release.

[2016-05-01 16:23] #21 closed

[2016-07-15 08:55] erikwachters opened #22 "Outbound background colors."
Hello,

Is it possible to integrate a feature where you can define two background colors for departing traffic.
In our (EBBR) system we have a yellow color for the outbound traffic using certain SID's to the east and others are cyan.
Maybe a section in the .json file where you can define the SID's and there corresponding color?

Thanks,

Erik

[2016-07-15 08:57] arcticash commented on #22
This would be a brilliant idea and I can see it being useful at Gatwick also :)

Sent from my iPhone

[2016-07-16 11:09] pierr3 commented on #22
Shouldn't be too hard to implement, i'll consider it, but don't expect it any time soon.

[2016-07-18 21:04] sw104 opened #23 "EuroScope Crash on Close (Linux with Wine)"
If the vSMR plugin is loaded in EuroScope when I close EuroScope and get past the saving dialogs it crashes throwing an unhandled exception (page fault on read access) - this does not seem to happen when using any vSMR plugin from 20th of March or before, but when using any beta released on the 27th of March or later this problem occurs.

I am running an unusual setup (Linux Mint 17.3, with the 3.

[2016-07-19 10:29] pierr3 commented on #23
I'll try it out on my Ubuntu machine, try setting wine to use Win 7 or 10, I think this might be a weird memory management issue.

[2016-07-19 14:47] sw104 commented on #23
I have just tried it setting wine to use Windows 7 and also separately Windows 10 with the same results. I also tried using the latest Wine version (Wine Staging 1.9.14) and instead EuroScope now hangs on exit instead of throwing an exception (in the terminal window I get `err:ntdll:RtlpWaitForCriticalSection section 0x7bceb920 "loader.c: loader_section" wait timed out in thread 0030, blocked by 0

[2016-08-20 16:30] Koploper9 opened #24 "TAG issues"
Hello

I've installed the latest version of the plugin and I've followed the instructions on the wiki but I'm still experiencing some issues that I didn't have in the beta version

-When I click a TAG line, for example the callsign, nothing happens, I can't open the handoff menu, the FP etc.
-I can't move the TAG's in the approach window.

I have added my system specs.
[specs.txt](https://github.c

[2016-08-20 18:19] sw104 commented on #24
Hi Simon,

With regard to the actions when you click the tag items, I believe that these were changed so that you have to right-click the items instead of left-clicking them.

I'll leave the other points for Pierre to answer! ;-)

[2016-08-20 18:47] Koploper9 commented on #24
Hi

Unfortunately I already knew en tried that :-(. But thanks for the answer anyhow :-)

[2016-08-21 21:56] kusterjs commented on #24
To change the position of the label in the approach window, click on the target and it will switch to the next position. There is no option to drag the label freely. This is a solution used in different real life systems and makes it quite easy for controllers to organize their labels.

[2016-08-31 19:20] pierr3 commented on #24
I probably messed up calculating the bounding box for the click items when I changed the tag drawing system, sorry about that

[2016-09-01 16:50] Koploper9 commented on #24
@kusterjs Thanks, that works!
@pierr3 Ok, once you are used to it, it isn't a big deal.

[2016-09-28 08:45] morphicsphil opened #25 "Euroscope crashes 3.2.1.12 (3.2a(r12))"
When I use vSMR Euroscrope crashes from time to time. I've tried various combinations of plug in's and I'm almost certain vSMR is the problem. It seems worse when there is a lot of traffic, but this could just be that an aircraft with a flightplan/scenario with a problem is more likely to appear.

Is there any logging or anything I can do to help narrow this down? It is very frustrating and I love

[2016-10-01 20:06] eliuuk commented on #25
I'm also having the same issue, it's crashed on me countless times today whilst controlling Munich Delivery (on an event).

[2016-10-16 18:29] Koploper9 commented on #25
Yesterday was the day of Brussels Overload, we all had this problem. It seems to be something serious. I've reïnstalled the beta version.

[2016-10-18 07:58] kusterjs commented on #25
Any one the same experiences with r10 or previous ES version? Because r12 is pretty buggy anyways, so it might well be only a problem of ES itself.

[2016-10-18 11:29] pierr3 commented on #25
I never got to reproduce the issue myself, although I never tried with r12, but I think (not sure at all) I've had report of the plugin crashing on r10. If someone could test this that'd be great. Can someone who has the problem try to see if it would be in any way related to when RIMCAS would trigger? Meaning when you see two aircrafts on a runway or an aircraft approaching a runway? I'll try to

[2016-10-18 14:33] ghost commented on #25
Pierr, is there any logging I can switch on to catch whatever exception might be thrown? The crash happens regularly for me, I get no error message and don't know what scenario actually makes it happen.

[2016-10-18 17:31] eliuuk commented on #25
It freezes and crashes for me, that's the most I can say.

[2016-10-27 16:26] LB767 commented on #24
I think I may have found the problem, I need to test it live on ES to see if that's really it.
The text click spots seem do be drawn before the actual tag click spot, which ends up being on top of everything.
Basically it does `AddScreenObject(TagClickableMap[element], ...` before `AddScreenObject(DRAWING_TAG, ...`
The order was inverted before the tag refactoring update.

[2016-12-26 18:56] eliuuk commented on #25
@pierr3 Any progress on this issue?

In response to your question, I don't think it's got anything to do with RIMCAS as I was crashing even on Delivery at different times, normally 30 minutes although vSMR crashed ES sometimes 2 minutes after reloading.

[2016-12-26 22:45] pierr3 commented on #25
@indianbhaji I'm sorry but I have not touched vSMR for months, and in fact don't even have the tools installed anymore. Other priorities and interests have taken over and I'm afraid I'm no longer involved in VATSIM in general, hopefully someone with the required skills can have a look and fix this, but I most probably won't be developing vSMR further.

[2016-12-26 22:45] pierr3 commented on #24
@LB767 Can you test your fix, and if it works could you create a pull request?

[2016-12-26 22:47] pierr3 commented on #9
Will not add.

[2016-12-26 22:47] #9 closed

[2016-12-26 22:49] eliuuk commented on #25
@pierr3 Alright, thanks for your response and good luck with your future
endeavours.

[2016-12-27 12:45] LB767 commented on #24
@pierr3 Oh I had already tested it and it was indeed that. You already merged it :)
Though I think there might still be something odd with the click and drag of tags sometimes, not exactly sure what.

[2016-12-27 19:06] pierr3 commented on #24
@LB767 My bad, my memory failed me, I'll recompile asap and post the update.

[2017-01-29 16:48] pierr3 commented on #24
The nightly build is out, could anyone check if Lionel fixed it?
https://ci.appveyor.com/api/projects/pierr3/vSMR/artifacts/vSMR-nightly.zip

[2017-01-29 16:50] pierr3 commented on #25
I've included a logging system in the nightly build, as well as the debug DLL. Download it here: https://ci.appveyor.com/api/projects/pierr3/vSMR/artifacts/vSMR-nightly.zip

Once loaded into ES, type the command ".smr log" to start logging, a file "vsmr.log" should be created in the same folder as the DLL. If Euroscope crashes, post here any error messages you get and the **last 5 lines** of the l

[2017-02-01 20:59] matthewmoy opened #28 "Impossible to use vSMR due to a Microsoft Visual Studio 14.0 bug"
Each time I start EuroScope, it creates me a bug for vSMR.dll about Microsoft Visual Studio 14.0 bug line 102 & 103.

Any way of fixing it? See the attached pictures.
![euroscope_2017-02-01_20-56-08](https://cloud.githubusercontent.com/assets/13717304/22525916/29f74426-e8c1-11e6-9764-75fb239288a6.png)
![euroscope_2017-02-01_20-56-23](https://cloud.githubusercontent.com/assets/13717304/22525917/29f

[2017-02-01 21:15] pierr3 commented on #28
Which version of vSMR are you using ?

[2017-02-01 21:17] matthewmoy commented on #28
The Nightly build.

[2017-02-01 21:27] pierr3 commented on #28
Try to redownload the nightly build, and see if that works, if it doesn't can you try starting up the log by typing .smr log in the chat (Needs to be typed on an SMR radar screen) and giving me the last lines of the log file?

[2017-02-01 21:37] pierr3 commented on #28
Also, make sure that the ICAO_Airlines.txt file is in the same folder as the vSMR.dll, as well as the latest .json file

[2017-02-02 11:39] matthewmoy commented on #28
Brilliant, it is now working.

[2017-02-02 11:39] #28 closed

[2017-02-04 20:45] LB767 commented on #24
I just noticed there's still a bug somewhere as I can't click&drag the tag if it's uncorrelated. Will have to look into that...

[2017-02-06 18:26] Koploper9 commented on #25
Hello, I've installed the nightly build and here are my findings:

For some reason, I can't create the logging file, I'm running ES in Administrator mode. I can type and enter the command and it seems like it's accepted, yet, no logging file is created. Since this release, ES also has a lag of about 5s when I'm on the ground radar. At last, when I try to close ES and I've opened a ground radar dur

[2017-02-06 18:29] pierr3 commented on #25
@Koploper9 create an empty text file called vsmr.log in the same folder as the the vSMR dll file, after typing the command the plugin will log into that file, it's a problem with some system where the plugin can write in the file but can't create it. For the lag, it's normal, it's a debug build which is less optimised and will lag a lot of some lower-end systems, if it's not usable on your machine

[2017-02-07 19:40] Koploper9 commented on #25
@pierr3 Thanks for the reply, I've just tried to create a file in my DLL folder, but it remains completely empty. Nothing is logged. I've also taken a look at the Task Manager while I was running EuroScope, I don't know much about programming, but I think that there shouldn't be lag when I'm only using 32% of my processor and 62% of my memory. Could I be missing a Microsoft Visual C++ Redistributa

[2017-02-27 01:25] pierr3 commented on #25
@Koploper9 That's weird, please triple check that you're using the new DLL, that there is an empty text file called "vsmr.log" in the same folder as the DLL, and that when you start EuroScope you type in the command ".smr log", don't worry about the performance issues, it's normal.

[2017-02-27 01:26] pierr3 commented on #25
@morphicsphil Could you try to catch the error in the log file?

[2017-02-27 17:02] ghost commented on #25
@pierr3 yep, I've just downloaded the version listed in this thread and I'll run with logging on from now on to see if I can catch it

[2017-02-27 17:29] ghost commented on #25
@pierr3 the build I just grabbed makes ES so slow for me that it hangs when I try to switch to an vSMR view

[2017-02-28 15:59] pierr3 commented on #25
@morphicsphil @Koploper9 I've changed the nightly build to Release mode, that should fix the lag problems, if you could try it out again that'd be great. (Same link as before)

[2017-02-28 16:01] #23 closed

[2017-02-28 21:45] ghost commented on #25
@pierr3  ok

[2017-03-01 20:12] Koploper9 commented on #25
@pierr3 I've found my logging file. For me, it's located somewhere in AppData (don't ask why, I don't know) Since your re-release of the Nightly build, EuroScope doesn't crash anymore when I'm closing the program. Could it be possible that the crash is due to a performance issue? The first time we experienced this was during Brussels overload (high traffic load and ES was run on a laptop instead o

[2017-03-02 17:01] pierr3 commented on #25
@Koploper9 Debug builds are quite dodgy, having moved it to Release might have fixed the problem, I really hope it did, please report back if you experience any more problems.

[2017-03-25 15:15] pierr3 commented on #24
Fixed thanks to @LB767 in #29

[2017-03-25 15:15] #24 closed

[2017-03-25 15:15] pierr3 commented on #25
Should be fixed thanks to @LB767 in #29, besides no more crashing reports, I consider this case closed, please drop a message here if it happens again

[2017-03-25 15:15] #25 closed

[2017-04-03 17:03] mkreu opened #30 "Feature Suggestion: Automatically reply "UNABLE" to pilots requesting CPDLC-Logon"
Hi,

While manning delivery in EDDM during this years CTP, I went into a small problem using the vSMR PDC feature: Many pilots erroneously tried to logon to my callsign instead of requesting the PDC without logon.   Although I told them to request PDC without logon, they were not able to receive my clearance as the hoppie pilot client apparently ignores other messages while waiting for an "ACCEPTE

[2017-04-06 12:46] Koploper9 commented on #25
Hello again, sorry to reopen this issue, but I've tried to use vSMR on my older Vista laptop. EuroScope still crashes when I'm closing an SMR radar. I've managed to save the logging and I've also found the Windows crash report. I've made a ZIP of all these files and I've attached them to this post. It isn't a big problem for me because I don't often use my old laptop and vSMR is working fine on my

[2017-04-19 09:54] pierr3 commented on #30
Good idea

[2017-04-19 09:54] pierr3 opened #31 "Crash on exit"
When closing EuroScope, the plugin hangs and causes EuroScope to crash.

[2017-09-13 13:10] LB767 opened #33 ""use_departure_arrival_coloring""
Do you remember whether this parameter was implemented or not?

It doesn't seem to work and I can't find it in the code.
(Just so I don't start coding something that I stupidly missed :P)

[2017-09-13 22:15] pierr3 commented on #33
In my head it was fully implemented, but I think I accidentally removed the feature when I refactored the tag drawing, it should be around [here](https://github.com/pierr3/vSMR/blob/e1013e9150a9dc27a142b6765bb487a5aefa853c/vSMR/SMRRadar.cpp#L2175) but I can't find it either, go for it!

[2017-09-14 14:21] #33 closed

[2017-09-22 23:30] mrbreenhd opened #35 "SRW"
Hello, Would it be possible to Edit what Data is displayed on the SRW display through the JSON file? ie VFR showing Squawk and FL and IFR showing Callsign Level speed ect.

Thanks

[2017-10-11 20:36] pierr3 commented on #35
Only on the SRW no, the settings are global. As for VFR showing squawks and IFR callsigns, that can be done using professional correlation (as it is done in real life)

[2017-10-11 20:36] #35 closed

[2017-11-17 14:52] bozibence opened #37 "Font size on the aircrafts tag (first row)"
Hello! My question is that is it possible to increase the font size of the first row on the tag. For example: the first line on the tag is the callsign and it is bigger than the second row. Thank you in advance.

[2017-11-17 17:22] pierr3 commented on #37
Hi, that is not possible with the current version of vSMR.

[2017-11-17 17:22] #37 closed

[2018-03-13 12:26] ghost commented on #22
Any update on this Pierre?

Merci,
Chriss

[2018-07-08 16:52] pierr3 commented on #22
Sorry for the late reply, but no progress so far. Current focus is just on maintaining compatibility.

[2018-07-19 01:10] #31 closed

[2018-11-09 20:33] ep3mhb opened #38 "Plugin not showing some of the airports in Iran vACC"
Hello,

I made a layout for Tabriz (OITT) and also for IKA (OIIE) and Mehrabad (OIII).

Plugins showing aircraft in OIIE and OIII but not showing in OITT.

Same happened in Pakistan for OPIS.

Someone told us that maybe those airports are not included in vSMR database.

Thanks for your kind attention.

Regards

[2018-11-11 03:31] mic12130 commented on #38
The Plug-In looks don't have such a database of airports, it based on data in sector file. I believe that this issue caused by the filter altitude in vSMR profile.

Try these steps:
- Open vSMR_Profiles.json
- Change "hide_above_alt" to a higher altitude than the highest airports in the sector file
- Type ".smr reload" in vSMR asr and enter (Or restart the EuroScope)

[2018-11-14 17:50] pierr3 commented on #38
@mic12130 Thank you for this, it is most probably the answer. Please also ensure you correctly set the active airport in the top left of the vSMR menu bar. This issue will be closed unless @ep3mhb still faces an issue, please let me know.

[2018-11-14 20:31] ep3mhb commented on #38
Dear Pierr,

Yes the issue is solved after applying the correct area altitude into the
file.

--
Mohammad H. Bahrololoum
Sent with Airmail

On November 14, 2018 at 9:50:47 PM, Pierre Ferran (notifications@github.com)
wrote:

@mic12130 <https://github.com/mic12130> Thank you for this, it is most
probably the answer. Please also ensure you correctly set the active
airport in the top left of the vSMR

[2018-11-14 22:40] #38 closed

[2018-11-30 08:41] mic12130 opened #39 "SMR cursor is not loaded"
Hi,

In the latest 1.4.0 release, It's looks like an issue that the SMR cursor in previous version is replaced by the default Windows cursor.

After checking the commits since 1.3,3, I supposed it caused by a "test" in commit 5e74214. Then I tried to revert the WindowProc callback and some related variables which were removed in 5e74214 (https://github.com/mic12130/vSMR/commit/109112563a4b60047b36

[2018-11-30 20:38] pierr3 commented on #39
Guess I really should start testing before releasing. I see where the problem is, could you create a pull request with your fix ? I'll be sure to merge and re-release.

[2018-12-01 14:46] pierr3 commented on #39
Thanks for your help, I'll do another release asap.

[2018-12-01 14:46] #39 closed

[2018-12-31 12:07] luke11brown opened #41 "Allow multiple airports with one ASR"
Love using vSMR, however, when covering an area position, e.g. LON_CTR with many airfields top down, I have to use only 1 or 2 ASRs, switching between airfields using .center[ICAO] to display the airfield I want to see. To then get vSMR to display tags, I then have to change the ICAO code in the vSMR toolbar.

Is it possible to get vSMR to have a mode to enable it to cover all of my airfields at o

[2019-03-20 10:43] pierr3 commented on #41
You can try and tweak the settings regarding filtering and change them to be so big they do not actually provide any filtering, you'll manly want to change "radar_range_nm". It's not a full fix but it should get you going.

[2019-03-23 21:46] Mistadouf opened #42 "vSMR causing Euroscope to crash"
When I click close in the Euroscope sector menu to close on an SMR radar screen, Euroscope immediately crashes. I've never had this issue with vSMR version 1.3.3. I'm using vSMR 1.4.0 and Euroscope 3.2a(r19).

[2019-03-25 09:03] pierr3 commented on #42
Thanks for the report, I'll try to have a look, but if anyone can it should be something to do with the EuroScopePlugInExit function in SMRPlugin.cpp

[2019-04-17 06:25] lalbri opened #43 ".vus2 and .showvis don't work under vSMR?"

[2019-04-17 06:25] lalbri opened #44 ".vis2 and .showvis don't work under vSMR?"

[2019-04-17 06:29] #43 closed

[2019-04-17 14:04] #44 closed

[2019-04-24 18:27] bozibence commented on #37
Hello! In the last conversation you said that it is not possible with the current version but you had some updates ever since. Maybe do you plan to do it in the future? :) I am asking because in the real version (in Hungary) the first row is larger than the other. Here it is a picture from it:
[https://i.snag.gy/OERW79.jpg](url)
Thank you very very much for your answer and your help! 👍 :)

[2019-04-25 10:57] 767Mark opened #45 "Is it possible to use vSMR without the tags?"
I use CANSCOPE with Euroscope and would like to have the normal Canscope tags.  I have installed vSMR for the Hoppie CPDLC clearance system integration.  Is this possible?  If not is there another suggestion on how to use it in this way as above?  thanks.

[2019-04-25 12:35] ghost commented on #45
Hey Mark,
You can enable vSMR and just have your regular ground view without the "SMR" tags by just creating a normal ASR. The departure list feature should still work.

[2019-04-25 21:16] 767Mark commented on #45
Not quite sure how to do this.  I actually thought I had used an existing normal ASR and then added vSMR.

[2019-05-12 23:05] aturneruk commented on #45
Yes! You can use the CPDLC part of vSMR independently of all the other functions. Simply load up your profile as normal, then load the vSMR plugin. Type .smr into the chat box and fill out the details. Once you're ready type .smr connect into the message box to sign on to the Hoppie network.

[2019-05-19 20:23] Mutterstadt opened #47 "ground_status Tag"
resolved by myself.

[2019-05-19 20:28] Mutterstadt commented on #47
- [ ]

[2019-05-19 20:28] #47 closed

[2019-05-25 15:09] pierr3 commented on #42
Should be fixed in #46, feel free to message again if not

[2019-05-25 15:09] #42 closed

[2019-05-25 15:12] pierr3 commented on #45
@artturnip Is correct, this should be what you need! Let us know if not.

[2019-05-25 15:12] #45 closed

[2019-05-25 15:12] #41 closed

[2019-06-01 18:29] MatisseBE commented on #22
Almost a year later now, any updates on the suggestion? :)

Thanks,

Matisse Van Wezer

[2019-06-08 17:00] pierr3 commented on #22
Very sorry to say I have not done any work on this, and do not plan to in the near future.

[2019-10-23 00:18] sjames1066 opened #49 "Feature Suggestion: Ability to do Hoppie ACARS CPDLC for Enroute controlling"
Ability to issue Route directs, Level changes/instructions, speed/mach instructions, controller freq handoffs.

Thanks in advance!

[2019-11-20 22:49] kusterjs opened #50 "Parsing issues crashes EuroScope"
An incorrect formated vSMR configuration file results in an error message followed by a crash of EuroScope. The displayed error message is suitable. However, the behaviour should be that the vSMR radar screen is not loaded (or closed again) and EuroScope keeps running. As the configuration is loaded upon the initialisation of a new vSMR radar display, the file can then be corrected (with ES still

[2019-12-02 22:58] keanucz commented on #22
Sounds interesting, I could probably have a go

[2019-12-02 23:08] keanucz commented on #50
I'll see what can be done

[2019-12-06 12:43] keanucz commented on #22
I've managed to get this working and I will submit a PR for this soon and a couple of other improvements

[2019-12-06 12:48] Keanu73 opened #51 "Re-evaluating use of tag menu popup functions"
There are some things like the `asid` tag item which correlate to a SID assignment menu, or the callsign tag item that correlates to the handoff menu and voice communication type menu.

Are these meant for people who disable the departure/arrival lists? Hearing from some people, I mostly hear that they miss the ability to draw the route line, so I'm considering replacing the callsign tag menu item

[2019-12-06 15:49] 1adamf commented on #51
Personally I don't think it would be particularly useful to be able to draw the route on the SMR. That's something that's more relevant to a radar view which I don't think the route would draw on while if you tried to draw the route from the SMR

[2019-12-06 20:04] keanucz commented on #41
I'm curious as to how it's not a full fix, and also, maybe we could add a multiple airport mode..

[2019-12-07 09:52] keanucz commented on #51
Fair enough, I'll scrap that then

[2019-12-07 09:52] #51 closed

[2019-12-07 10:24] pierr3 commented on #49
Hey, this has been discussed before. I would love that but it is outside of the scope of this plugin so I do not want to implement, sorry :(

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-07 10:24] #49 closed

[2019-12-07 10:25] pierr3 commented on #50
That’s a good point and that was my initial aim when I wrote this plugin a few years ago, however I remember struggling to achieve that with ES’s framework, it might be possible though. If I can I will take a look.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-07 13:28] keanucz commented on #30
Should an option for this go in the JSON config or should it go somewhere else? @pierr3

[2019-12-07 13:30] keanucz commented on #50
I was thinking of maybe doing a valid config check before the CPlugin object is passed to EuroScope, therefore not loading the plugin until the config is valid, though not sure if it's the best way to go about it..

[2019-12-07 14:00] Keanu73 opened #53 "Ability to change aircraft icon to default/something else??"
Was gathering feedback from a bunch of people in VATSIM UK, one of them dislikes the aircraft shapes and wants the ability to change it to either the default ES one or to something else. Is this possible??

[2019-12-08 21:12] pierr3 commented on #53
The aircraft shapes mimic the real word system as best as possible. They are not supposed to be generic shapes but primary radar returns. In the real world, some airports do not show the radar feedback, while some do. The current simulated returns are not very realistic in the sense that they are too airplane like. They look more like fancy potatoes than anything. Hence, we can improve the simulat

[2019-12-08 21:28] pierr3 commented on #51
Yup, agree with @1adamf, this is an SMR, it should be used for anything else that ground control and hence route draw does not fit into that scope. The real world system also does not support a similar functionality (in the real world, route draw is surprisingly complex to implement).

[2019-12-09 06:52] keanucz commented on #53
Just looked at the NOVA's manual and realised that your aircraft shapes are actually accurate. I'll close this then.

[2019-12-09 06:52] #53 closed

[2019-12-09 17:26] kusterjs commented on #30
This should be implemented by default to overcome a System Design issue of Hoppie. So no option required for the user to able/disable.

[2019-12-11 20:25] #22 closed

[2019-12-11 20:39] keanucz commented on #30
Whoops, forgot to remove this from the PR body; this isn't fixed yet @pierr3

[2019-12-13 20:24] Keanu73 opened #54 "Creating flight plans in pro mode"
I've come across a few aircraft that "book out", which basically means they want me to file a flightplan for them when they request it. But I have pro mode on, and since `.am` requires me to click on their tag, I cannot click on their tag, so I can only deal with filed ones. We'll have to make it so you can click on their aircraft symbol then?

[2019-12-14 14:45] drose12 opened #55 "Euroscope hangs on exit"
New FIR FE here, our packages had and older version of the plugin, but things worked fine.
I upgraded, but now ES hangs on exit and you have to kill the task.
If I nuke everything it works fine with the version I have, but as soon as I put a newer version in, it will hang. Just looking for assistance on how to troubleshoot.

[2019-12-15 13:05] Keanu73 opened #56 "Ad-hoc cursor behaviour"
Sometimes the custom cursor loads, sometimes it doesn't. we'll need to look into it

[2019-12-15 13:06] keanucz commented on #55
So this is with the current nightly build, right?

[2019-12-15 21:00] drose12 commented on #55
No, i was using v1.4.0 - Consolidation update
I will go try the nightly.

[2019-12-16 02:12] drose12 commented on #55
Confrimed, same behaviour on nightly.

[2019-12-16 07:37] keanucz commented on #55
Right.. I haven't experienced EuroScope hanging so you'll have to check the vSMR config is valid. Try using the one provided with the nightly build and changing it to your needs. Otherwise I'm not sure how else I can help.

[2019-12-16 19:18] drose12 commented on #55
I am using the default json that comes in the zip.
Is there a way I can attach a debugger to the plugin? I'd think there must
be some way to issue a thread dump or something like that?

On Sun, Dec 15, 2019 at 11:37 PM Keanu C. <notifications@github.com> wrote:

--
Dave Rose
drose@drcs.ca

[2019-12-16 22:23] keanucz commented on #55
You can do that by attaching to EuroScope I believe, although it should issue a crash dump if it detects one (it's stored where the EuroScope exe is). Have you isolated the problem to be with vSMR?

[2019-12-20 09:08] erikwachters opened #57 "Departure Label background_color goes over nosid_color"
Hi,

I've tested the nightly build and all works fine.
The only thing is that if an A/C has no SID still has the "background_color" color and not the "nosid_color". Maybe the "nofpl_color" has the same problem?

Another idea for implementation is that you can choose that the font size of the first line is bigger than the 2nd & 3th & ..... line so that the C/S is bigger than the info in the other l

[2019-12-20 16:35] keanucz commented on #57
It will only use "background_color" if it can't find "nosid_color"/"nofpl_color". As for the font size, I will look into it.

[2019-12-26 16:59] DrFreas commented on #30
I made a thing regarding this in pull request #58.

[2019-12-26 20:52] drose12 commented on #55
Well isolation has been done by troubleshooting.
If I have the newest vsmr.dll in it hangs, if I put an older one in, it does not. So I'm pretty sure its the plugin. I'm attaching Euroscope crash files as you mentioned above.

EuroScope caused an Access Violation (0xc0000005)
in module vSMR.dll at 0023:5860a597.

Exception handler called in ExceptionAttacher.cpp - AfxWinMain.
Error occurred at 12/

[2019-12-26 21:06] drose12 commented on #55
Tried running as Administrator as well, no difference.

[2019-12-28 10:31] erikwachters commented on #57
Hi,
I tested it in a sweatbox session and I have the "background_color" on an aircarft without SID instead of the "nosid_color".
Screenshot: http://prntscr.com/qgrb3g

My config:
        "departure": {
            "definition": [
                ["callsign", "wake"],
                ["seprwy", "sqerror"]
            ],
            "nofpl_color": {
                "r": 0,
                "g": 100,

[2019-12-28 10:48] keanucz commented on #57
Hrm hrm hrm.. so this isn't just a quirk. I'll look into it.

[2019-12-30 16:36] LB767 opened #59 "Breaking backwards compatibility"
When you add new settings to the json config file please either make it backwards compatible or make it very clear what gets broken.
I wasted an afternoon realising you need to specify push/taxi/depa tag colors otherwise it crashes :)
(I take full responsibility for being a noob, but still, could have saved some time there)

[2020-01-01 11:27] keanucz commented on #55
Right, just realised, you might have been using a weird nightly build that didn't include some previous changes - just re-download the nightly for me with the default config and see if it still has an error.
Also make sure you put your ICAO_Airlines.txt from the DataFiles folder into the same folder as the vSMR dll. Otherwise, you may be missing a redistributable or something along those lines

[2020-01-02 15:25] LEWISC44 opened #60 "Hide the tag when no flight plan filed"
Hello,

is there anyway to hide the tag when no flight plan is filed?

[2020-01-12 21:12] kusterjs opened #61 "Groundstatus does not show"
Using the groundstatus for any tag doesn't show the text according the selection in EuroScope. It actually remains blank. Was this broken due to an ES update?

[2020-01-12 21:21] kusterjs opened #62 "Polygon for closed runway"
Polygons for closed runway should be able to be specified differently from the RIMCAS area, although this one is then actually deactived. This is because the RIMCAS area is usually larger than the runway surface, but you don't want more red on your screen than necessary and also see things like intersections properly.

[2020-01-16 17:09] ghost commented on #60
Turn on pro-mode in the .json file and the tag will only show on your screen when the aircraft is squawking his right code.

[2020-01-17 22:06] Keanu73 opened #63 "Ability to hide tags"
Sometimes even with pro mode on a lot of tags can make a mess of the airport. My idea is when you right-click on the blank space of the tag, it will hide it, and right clicking on the aircraft icon will show their tag again.

[2020-01-17 22:06] keanucz commented on #62
This is possible if you define the runway coordinates as per the example config file.

[2020-01-17 22:08] keanucz commented on #59
Hrrm.. the only reason I'm guessing you had issues is because the new config file contains the ground status in the tag as well as custom defined ground status colours. So it is backwards compatible, but the new config file made it less so

[2020-01-31 23:58] emasru opened #64 "Feature Change: Ability to change level set by departure list"

[2020-02-02 16:27] drose12 commented on #55
Question regarding ICAO_Airlines.txt, I use files generated fromhttp://gng.aero-nav.com and they generate the file, also our profile references it here:
Settings	airlines	\CZVR\ICAO\ICAO_Airlines.txt
Is it possible there is a conflict of some sort?
Does your plugin respect the Settings key value in the .prf files?

[2020-02-02 17:19] keanucz commented on #55
The plugin doesn't check the Settings key, it checks to see if ICAO_Airlines.txt is in the same folder as itself. So copy that file to where vSMR_nightly.dll is located

[2020-02-02 17:48] #64 closed

[2020-03-04 19:06] NathanInnes commented on #54
I might be late to the party... You need to click TARGET > ACQUIRE > Select aircraft. (SEE ATTACHED)
![image](https://user-images.githubusercontent.com/18389085/75913675-40be6880-5e4b-11ea-92d9-e56be670b749.png)

Then you will be able to set their flight plan up with F1+A or .am

If not then let me know

[2020-03-04 19:19] keanucz commented on #54
@NathanInnes I may be wrong but doesn't acquire assume the tag?

[2020-03-06 20:14] NathanInnes commented on #54
I think it does, but it won't make much difference anyways if you're doing ground control. Once the aircraft has set the allocated squawk code you would release the aircraft.

[2020-03-06 20:22] #30 closed

[2020-03-06 20:24] pierr3 commented on #54
This is the incorrect procedure actually. When an aircraft with no flight plan calls up, you should open a new flightplan for them by using the .am CALLSIGN command, then assigning them a squawk. You would get their callsign when they call up. Once you give them the squawk, they will automatically be correlated and show up on your scope. TARGET -> Acquire does not assume a tag either.

[2020-03-06 20:27] pierr3 commented on #55
@drose12 any success using the latest nightly build? Do not forget to copy ICAO_Airlines.txt to the same folder as the vSMR dll.

[2020-03-06 20:31] pierr3 commented on #59
@Keanu73 Can you please check whether the current nightly config is compatible with the last release config?

[2020-03-06 20:31] #60 closed

[2020-03-06 20:41] pierr3 commented on #62
You're right, RIMCAS should always use a calculated runway area, and not the actual definition of the Runway, that could be changed in [SMRRadar.cpp line 1705](https://github.com/pierr3/vSMR/blob/c8c513e8e9d6195e5fde14a9439b959f80b4b337/vSMR/SMRRadar.cpp#L1705) where only the calculated runway area should be passed to RIMCAS and the definition from the config ignored.

[2020-03-06 20:42] pierr3 commented on #63
This should not be a feature. By design ATM systems do not allow you to hide tags that can be relevant to you, and manually being able to disregard tags would lead to lack of awareness.

[2020-03-06 20:42] #63 closed

[2020-03-15 15:12] phoenixegmh opened #65 "FAOR tags not showing"
With vSMR running at FAOR (old code FAJS), no tags show. Have used FACT and shows OK, is this a problem because of the ICAO code change?

[2020-03-15 15:43] pierr3 commented on #65
It's likely, but this is a sector file problem, not a vSMR one. If your sector definition has the correct coordinates for FAOR, it'll work fine. it sounds like your sector file needs to be updated.

[2020-03-15 15:58] phoenixegmh commented on #65
Just looking at the sector file now and FAOR appears to be in there correctly. It has co-ordinates and they appear correct

[2020-03-15 16:08] phoenixegmh commented on #65
Airport is defined under AIRPORT section in the .sct file as:

FAOR 000.000 S026.08.01.298 E028.14.32.341 D

[2020-03-15 16:30] kusterjs commented on #65
Maybe an issue with the altitude filter for ground traffic? FAOR is known for this since it is above the default value of 5000 ft.

[2020-03-15 16:48] phoenixegmh commented on #65
Negative, options adjusted for 5600ft and it doesn't show any airborne tags either

[2020-03-15 16:51] pierr3 commented on #65
I see the elevation of FAOR ASML is 5558ft, try to raise the altitude filter to at least 7000ft and see what happens.

[2020-03-15 17:02] phoenixegmh commented on #65
Raised to 7000ft, still nothing showing (AC on Stand A1 in the attached)
![image](https://user-images.githubusercontent.com/62211163/76706358-c0b3c080-66de-11ea-87c5-1f4576ee6e84.png)

[2020-03-15 17:23] phoenixegmh commented on #65
I think we could be onto something with the AD elevation though, I've just tried FALA and that didn't work. Awaiting further testing at FYWH to see if that clarifies the issue as it has a similar elevation.

[2020-03-15 17:26] pierr3 commented on #65
There is the problem ;) You need to change the altitude filter in the config file (see https://github.com/pierr3/vSMR/wiki/Editing-the-Plugin-Settings-(.json-file)#changing-the-settings-values-in-a-profile), changing it in the EuroScope dialog will change nothing as it does not communicate with the plugin.

[2020-03-15 17:30] phoenixegmh commented on #65
That's got it! Perfect, thanks!

[2020-03-15 17:31] #65 closed

[2020-03-26 23:08] ItayFishman opened #66 "No grey menu bar after following the instructions."
Hello, I am trying to use vSMR for LLBG ground and after I loaded the plugin, edited the ASR file and loaded the sector, the gray menu bar won't show up.
Also when I connect to the network I can't see the aircraft on the radar after I edit the ASR file.
What should be done in order to fix this issue?

[2020-04-16 21:25] githubvatsim opened #67 "Measuring shortcut disabled in vSMR ASR files"
In non-vSMR ASR files, it is possible to double-click and drag to measure distance and display reciprocal headings. This does not seem to work in ASR files configured for the plugin.
[ASRfiles.zip](https://github.com/pierr3/vSMR/files/4489805/ASRfiles.zip)

[2020-04-16 21:32] pierr3 commented on #67
This is a limitation of EuroScope, not possible to enable this without enabling other radar drawings. That's why there is a custom measure too.

[2020-04-16 21:32] #67 closed

[2020-04-16 21:43] githubvatsim commented on #67
Thanks for the very quick response.

Yes, I see that feature for aircraft in flight. In a perfect world, we could measure runway remaining for intersection departures.

Stay safe….Tony

On Apr 16, 2020, at 17:32, Pierre Ferran <notifications@github.com> wrote:

This is a limitation of EuroScope, not possible to enable this without enabling other radar drawings. That's why there is a custom measure

[2020-04-16 22:29] pierr3 commented on #67
You can! From the Display Menu Select QDR Select Reference, then click two points on your screen and you will have a distance!

See also here: https://github.com/pierr3/vSMR/wiki/Menu-Bar

[2020-04-17 01:32] githubvatsim commented on #67
Excellent.

Thanks very much for your work on this project.

T.

-----------------
Tony Koch
416.423.7824

On Apr 16, 2020, at 18:29, Pierre Ferran <notifications@github.com> wrote:

You can! From the Display Menu Select QDR Select Reference, then click two points on your screen and you will have a distance!

See also here: https://github.com/pierr3/vSMR/wiki/Menu-Bar <https://github.com/pierr3/vS

[2020-04-17 10:50] CBT-Phoenix commented on #55
I have just updated Euroscope to r24 beta, and found out that with vSMR enabled it hangs and crashes on exit.
With r23 there wasn't any issue at all. The problem is present both with the nightly build and without

[2020-04-17 14:51] githubvatsim commented on #67
I see at https://github.com/pierr3/vSMR/wiki/Editing-the-Plugin-Settings-%28.json-file%29 <https://github.com/pierr3/vSMR/wiki/Editing-the-Plugin-Settings-(.json-file)> that there is no option to display distance in feet instead of meters. This would be a nice feature in future.

T.

Excellent.

Thanks very much for your work on this project.

T.

-----------------
Tony Koch
416.423.7824

On Apr 1

[2020-04-18 16:53] chrissKLO opened #68 "Custom Cursor"
Hello I would like to know if it is possible to use a custom cursor for vSMR?

[2020-04-20 17:34] philaldred opened #69 "Euroscope crashing on exit"
The latest Euroscope beta v3.2.1.24 is crashing on exit with vSMR installed.

[2020-04-20 17:35] #69 closed

[2020-04-20 17:36] philaldred commented on #55
Also having the above issue

EDIT:
A cycle of the plugin seems to of fixed it.

[2020-04-21 21:31] CBT-Phoenix commented on #55
What is a cycle of the plugin?

[2020-04-21 21:53] philaldred commented on #55
Hey

Unload plugin>restart>load plugin>restart

On Tue, 21 Apr 2020, 22:32 Giovanni Tarar, <notifications@github.com> wrote:

[2020-04-21 21:57] CBT-Phoenix commented on #55
Already tried more than 4 times...unfortunately I had no luck :-(

[2020-04-22 09:07] philaldred commented on #55
I forgot to mention, in the beta release notes of euroscope install the
latest Microsoft redistributable package as it says. Then try again

On Tue, 21 Apr 2020, 22:57 Giovanni Tarar, <notifications@github.com> wrote:

[2020-04-22 13:39] CBT-Phoenix commented on #55
Also tried with redist from ms website, but still the same issue. As soon as I have time I'll try to do a clean install of Euroscope and then add vSMR

[2020-04-23 22:53] pierr3 commented on #68
No, vSMR cannot permanently change the cursor, I suggest you change your system cusor if you want to do that.

[2020-04-23 22:53] #68 closed

[2020-04-23 22:54] pierr3 commented on #66
Hey there, have another good look at the config and ensure the plugin is properly loaded. Edit your file while EuroScope is not running, then open EuroScope, guarantee you it's a user config error :)

[2020-04-23 23:01] pierr3 commented on #62
Pushing this, could you give it a try @kusterjs on the next nightly ?

[2020-04-23 23:07] pierr3 commented on #55
I've check to see if the dependencies were up to date, but they seem to be. This is most likley an undocumented change in EuroScope. I will email Gergely

[2020-04-23 23:20] pierr3 commented on #55
I've just retargetted the nightly build to use Visual Studio 2019, same as the latest EuroScope build, can someone give it a try? I've also emailed Gergely to try and obtain a recompiled library.

[2020-04-23 23:30] CBT-Phoenix commented on #55
I have just downloaded the nightly from the github main page and tried, but still no luck :-(
I hope Gergely will be of some help. Thanks for the amazing plugin btw!

[2020-04-24 19:12] pierr3 commented on #55
Pushed yet another update compiling with the latest .lib and .h from Gergely, could someone give it a go?

[2020-04-24 19:38] CBT-Phoenix commented on #55
Just gave it a try and found something interesting: with the normal release the same issue, but with nightly it works only under certain conditions.
The plugin vSMR must be 3rd in priority in the Euroscope Plug-ins settings. Also (in my case) it works only when is placed below RDF and ukcp plugins. When placed above one of them it cause Euoscope to hang on exit. But for now we can say that the iss

[2020-04-24 19:57] kusterjs commented on #55
Can you tell us all the plugins you use and it's order so we can investigate on other systems. I suspect it might also be the combination of certain plugins not compatible with each other. We need to find out which ones cause the issue.

[2020-04-24 20:02] CBT-Phoenix commented on #55
For sure. I use vSMR, RDF, ukcp, and AFV Bridge. I recently added the Discord plugin but the issue existed also before so I don't think it has something to do.
The order I found to be faulty is whenever vSMR is placed above RDF and/or ukcp
The order I used before was: vSMR, RDF, ukcp, AFV bridge; but after the update of r24 and the just-released nightly, the order that works for me is: RDF, ukcp,

[2020-04-24 20:04] kusterjs commented on #55
I have neither RDF nor ukcp. However, I use the AFV bridge as well. How about others?

[2020-04-24 20:08] CBT-Phoenix commented on #55
The only common one is AFV bridge then. I use only those 4 (vSMR, ukcp, RDF and AFV bridge).
I also added the Discord plugin recently, but the issue was occurring also before I added it so I would exclude it.
The interesting part is that ES hangs only when vSMR is above ukcp or RDF. I can give a try without each plugin if necessary

[2020-04-24 20:27] #54 closed

[2020-04-24 20:28] pierr3 commented on #57
@Keanu73 anything you were able to find related to this?

[2020-04-24 20:28] #66 closed

[2020-04-24 20:31] pierr3 commented on #55
Interesting find, would be good to see if just AFV Bridge + vSMR causes an issue, since I assume most people are using AFV Bridge now. I still find it strange this came up with the latest beta.

[2020-04-24 20:39] keanucz commented on #57
Not yet, so far..

[2020-04-24 21:23] kusterjs commented on #55
There seems to be something wrong with the Plugins management by ES. I did some testing and reported it in the VATSIM forum.
https://forums.vatsim.net/topic/27189-moving-plug-ins-list-entries-results-in-multiple-errors-and-a-freeze-of-es-when-closing-the-application/

[2020-04-24 21:46] CBT-Phoenix commented on #55
Very interesting. I basically have almost the same issues with the plugins' settings. Thank you very much for the investigations and for creating the post on vatsim forum. Hopefully they will find the cause and correct it in the next beta

[2020-04-28 16:15] DoubleWhisky commented on #55
Hi. Exactly same thing is happening to me since I loaded AFV Bridge.

[2020-05-11 09:30] GreenJetsam opened #70 "Be able to use telext in euroscope and hoppie's ACARS"
We can send and receive PDC requests with a custom message at the end but can't receive or send telext, any chance in the CPDLC chat menu there could be a command to send freetext to an aircraft and see received messages.

[2020-05-13 12:53] GraemeFlo opened #71 "No Traffic"
Hi,  I have spent 2 days trying to get this plug in to work.  When i log in and Open the .asr i see no traffic on my scope i switch to a different asr and the traffic returns???

[2020-05-13 17:48] kusterjs commented on #71
Did you check that the ASR you use uses an SMR radar display? Have you tried starting from scratch with a new SMR radar display?

[2020-05-13 17:52] GraemeFlo commented on #71
How would I know if the ASR I am using has a SMR Rader display.  I do see
the option and I am able to select it and the screen appears with the grey
bar.  I am trying to use in on the current Denver Sct file.  They don’t use
euroscope here is ther something I need to configure in the sct file

On Wed, May 13, 2020 at 11:49 AM kusterjs <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-05-13 17:56] kusterjs commented on #71
Check the DisplayTypeName in the ASR file. If you don't get the grey bar, you are not using the correct display type.

[2020-05-13 18:00] GraemeFlo commented on #71
I have the grey bar just no traffic.

On Wed, May 13, 2020 at 11:56 AM kusterjs <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-05-13 18:08] kusterjs commented on #71
Did you follow this: https://github.com/pierr3/vSMR/wiki/Setting-up-the-ground-radar ?

[2020-05-13 18:10] GraemeFlo commented on #71
Yes sir I have spent two days going over every detail in that document

On Wed, May 13, 2020 at 12:09 PM kusterjs <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-05-13 18:11] kusterjs commented on #71
Any chance you can share your ASR then?

[2020-05-13 18:13] GraemeFlo commented on #71
sure

On Wed, May 13, 2020 at 12:11 PM kusterjs <notifications@github.com> wrote:

[2020-05-13 20:03] GraemeFlo commented on #71
Any ideas ? On what I’m doing wrong ?

On Wed, May 13, 2020 at 12:12 PM Graeme Florance <graemeflorance@gmail.com>
wrote:

Sent from Gmail Mobile

[2020-05-14 21:32] GraemeFlo commented on #71
Do you see anything in asr I am missing

On Wed, May 13, 2020 at 2:03 PM Graeme Florance <graemeflorance@gmail.com>
wrote:

--
Sent from Gmail Mobile

[2020-05-14 21:46] pierr3 commented on #71
Please do not spam for help, you have also not provided your ASR, hence we cannot look over it. Please ensure you have selected the correct ICAO code for your airport in the top menu bar (grey bar) as per https://github.com/pierr3/vSMR/wiki/Setting-up-the-ground-radar

[2020-05-14 21:51] GraemeFlo commented on #71
Hi,

I did not mean to spam i sent the ASR file and got no response.  Im sending
again.  Yes i did change the name of the airport in the gray bar to kden

On Thu, May 14, 2020 at 3:47 PM Pierre Ferran <notifications@github.com>
wrote:

[2020-05-14 22:09] kusterjs commented on #71
Seems to be a user related issue (missing experience with ES, git, ...). No actual or reproducable error described. Suggest to close the issue therefore.

[2020-05-14 22:10] GraemeFlo commented on #71
So it works for you using that file?

On Thu, May 14, 2020 at 4:09 PM kusterjs <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-05-14 22:17] GraemeFlo commented on #71
You can see the bar installed   I am connected but no traffic showing. I am
able to see traffic when not using this radar

On Thu, May 14, 2020 at 4:10 PM Graeme Florance <graemeflorance@gmail.com>
wrote:

--
Sent from Gmail Mobile

[2020-05-14 22:54] pierr3 commented on #71
Please seek help with other vatsim members or on the forums, this is not an actual issue with vSMR and most likely a misconfiguration, please read the wiki again. Closing this.

[2020-05-14 22:54] #71 closed

[2020-05-14 23:07] GraemeFlo commented on #71
wow thats amazing customer service.

On Thu, May 14, 2020 at 4:54 PM Pierre Ferran <notifications@github.com>
wrote:

[2020-05-14 23:08] GraemeFlo commented on #71
ive read the wiki 15 fucking times.  step by step thats why i reached out.
were you able to get it to work with the file i sent ?  That would be a
start to helping me

On Thu, May 14, 2020 at 5:06 PM Graeme Florance <graemeflorance@gmail.com>
wrote:

[2020-05-14 23:08] pierr3 commented on #70
This is not really in scope of this project, so unlikely to implement, but thanks for the suggestion.

[2020-05-14 23:08] #70 closed

[2020-05-14 23:09] GraemeFlo opened #72 "previous issue not solved"
your last email. was extremely rude.  You asked me to send a file.  was the file ok ?

[2020-05-14 23:13] pierr3 commented on #71
You are not a customer, this is not a customer service, thanks for swearing at the people who dedicate their free time to offer plugins and creations like this for free, in an open and transparent manner, this is not an email conversation, every reply that you post is publically visible on GitHub, your file was never sent, check the conversation again, we will not be helping you further due to you

[2020-05-14 23:13] #72 closed

[2020-05-14 23:17] kusterjs commented on #71
Customer service? Excuse me? Now this is a mockery for all the endless effort that was put into this project by Pierre. @GraemeFlo shame on you!
Please don't waste the time of this community and its contributors with your unqualified comments. Before you harass anyone out of anonymity, demonstrate some dedication and professionalism. And learn how to upload a file here ....

[2020-05-14 23:18] GraemeFlo commented on #71
You didnt help me to begin with ass

On Thu, May 14, 2020 at 5:13 PM Pierre Ferran <notifications@github.com>
wrote:

[2020-05-14 23:32] GraemeFlo opened #73 "Upload of my ASR file"
Trying again for some help

[DEN_GND - Copy.txt](https://github.com/pierr3/vSMR/files/4631502/DEN_GND.-.Copy.txt)

[2020-05-14 23:38] pierr3 commented on #73
The first line of your ASR shows you have not read the wiki, your ASR starts with "DisplayTypeName:Standard SMR radar display" which is point number two on the[ relevant wiki page](https://github.com/pierr3/vSMR/wiki/Setting-up-the-ground-radar). Once again, this is a user error and does not fit within the community guidelines for issues on GitHub. Closing this once again.

[2020-05-14 23:38] #73 closed

[2020-05-14 23:46] GraemeFlo commented on #73
I have removed the word standard thank you for pointing that out.  I don’t
doubt that it’s user error. Thank you.   However I still see no traffic
after making that change

On Thu, May 14, 2020 at 5:39 PM Pierre Ferran <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-05-14 23:49] kusterjs commented on #73
@GraemeFlo This platform is to track software issues. This is NOT a support platform. Please use the VATSIM forum or any other appropriate forum to seek for help regarding the setup of vSMR.

[2020-05-14 23:57] GraemeFlo commented on #73
What forum do you suggest?

On Thu, May 14, 2020 at 5:50 PM kusterjs <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-05-14 23:58] kusterjs commented on #73
Didn't I just mention

?

[2020-05-15 00:11] GraemeFlo commented on #73
thanks i guess

On Thu, May 14, 2020 at 5:58 PM kusterjs <notifications@github.com> wrote:

[2020-05-15 01:06] GreenJetsam commented on #70
Apologies for asking but how isnt telex (part of the real world CPDLC system) in the scope of this as many pilots and controllers use it for operational info like changing of clearances etc. Just out of interest how it isn’t something that could be implemented in the same way pdc is implemented? Possibly with a simple .smr [callsign] [message]

[2020-05-15 01:35] kusterjs commented on #70
Because the PDC/DCL is only using a part of CPDLC functionalities, if any (depending on the actual used system implementation). But common for all is that a single freetext can be provided with the clearance. However, further exchanges of freetext are not possible.
You should use the hoppie client for using any CPDLC functionalities. However, be advised that telext messages are not using for PDC/D

[2020-05-15 09:43] GreenJetsam commented on #70
Ah right thank you for clearing that up. Love what you’re doing here and thank you :)

[2020-05-15 18:51] GraemeFlo commented on #73
I just spend 30 mins on a screen-share with Andres Fuchs.  He also was unable to see traffic on the ground with the plugin installed correctly on his end.  Is there potentially a problem with a setting in the sector file that is not compatible compared to the European files.  I downloaded EDDf and was able to get it to work.

[2020-05-15 20:03] eliuuk commented on #73
@GraemeFlo Denver is at an elevation of 5000ft so you'll need to change the altitude filter in the vSMR config file. See #65 :)

[2020-05-15 20:17] GraemeFlo commented on #73
Still nothing i cant see any traffic in the air either.  Is this the
correct setting to change

"filters": {
        "hide_above_alt": 8000,
        "hide_above_spd": 250,
        "radar_range_nm": 30,
        "night_alpha_setting": 110,
        "pro_mode": {
            "enable": false,
            "accept_pilot_squawk": false,
            "do_not_autocorrelate_squawks": [
                "2000",

[2020-06-16 15:49] erikwachters commented on #55
Hi,
This is what I did to solve it:
- Open ES and unload the vSMR plugin.
- Close ES but save the changes (let it crash)
- Open ES again and Load the vSMR plugin again.

All good now!

Erik

[2020-06-16 15:56] CBT-Phoenix commented on #55
Already tried, but in some cases it works, in some other it doesn't.
As kusterjs said previously, the problem is in neither vSMR, nor AFV Bridge, but in how Euroscope manages the plugins.
Have a look at the thread he made in the Vatsim forum: https://forums.vatsim.net/topic/27189-moving-plug-ins-list-entries-results-in-multiple-errors-and-a-freeze-of-es-when-closing-the-application/

[2020-07-16 20:04] TheoBearman opened #74 "Output for Occupied CPDLC Callsign"
When trying to use the `.smr connect` command to login to a preset callsign which another user has already logged in to the Hoppie network with, no output is observed. Suggest creating a text message in ES in these instances to alert the user to this.

[2020-07-18 13:28] #74 closed

[2020-07-18 13:29] pierr3 commented on #74
Give it a try on the nightly, should be fixed

[2020-07-18 13:30] #62 closed

[2020-07-18 13:36] pierr3 commented on #57
@erikwachters on your screenshot, was that aircraft VFR? VFRs are excluded from the Nosid/sid colour logic, let me know if you think that should change.

Re/text bigger on L1, I'd like to implement but in the current architecture it's going to be a bit complex

[2020-07-18 13:53] pierr3 commented on #61
Might work now, do you still experience the issue?

[2020-07-18 17:22] TheoBearman commented on #61
Works now - just checked having installed the nightly.

[2020-07-18 17:22] #61 closed

[2020-07-18 22:46] pierr3 commented on #55
I may have fixed it, still strange the behaviour changed since the last beta. Could someone give it a try on the nightly as well? Works fine on my end.

[2020-07-18 22:56] CBT-Phoenix commented on #55
Just tried it out with different combinations of plugins. It still hangs on exit. Also, I've noticed that when moving the plugins down, Euroscope changes their names in the Plug-Ins window.
At this point, I really think that the issue is within EuroScope, and how it handles the plugins.

[2020-07-18 23:15] pierr3 commented on #55
There is definetely an issue with EuroScope itself, but I do think i have some blame to take. I just attached a debugger to ES and found that the old vStrips thread, whcih i thought I had removed, was still in there waiting, can you try that nightly build?

[2020-07-18 23:21] CBT-Phoenix commented on #55
Just tried it out. It works perfectly now! Thank you very much for your hard work!! :-)

[2020-07-18 23:40] pierr3 commented on #55
Amazing! Great to hear. If there are no more reports, I'll publish a release, but it'd be great if others could also report the fix as working

[2020-07-18 23:41] CBT-Phoenix commented on #55
Of course, given the nature of this issue, if other users will report it functional then it's safe to assume the latest nightly is working fine

[2020-07-19 09:04] TheoBearman commented on #74
Tested this in the live environment with the nightly. Works perfectly. Thanks!

[2020-07-19 14:39] pierr3 commented on #56
Closing as no progress/concrete steps to replicate, will reopen if needed

[2020-07-19 14:39] #56 closed

[2020-07-20 13:10] CBT-Phoenix commented on #55
I had a couple of fellows controllers test the new nightly, and they both reported it as functional. They had the hang issue before, but now it looks fixed! :)

[2020-07-20 15:19] quantumDavey commented on #55
Hi, from my tests, the hang **only** happens if the (release) vSMR plugin is somwehere before the UKCP plugin in the list order - I've tested every possible ordering of the four plugins. The order of RDF and AFV plugins in the list in relation to all the others doesn't seem to affect it.

Just as with others, the nightly build deffo fixes the problem. Thanks for the fix :)

[2020-07-24 19:44] #59 closed

[2020-07-24 19:44] pierr3 commented on #59
Closed as I tested this with no issues

[2020-07-24 19:47] pierr3 commented on #55
Fixed in v1.5

[2020-07-24 19:47] #55 closed

[2020-07-24 22:56] TheoBearman opened #75 "Inconsistent Correlation Behaviour in Pro Mode"
![Screenshot_1](https://user-images.githubusercontent.com/6546590/88441367-ccd82900-ce08-11ea-85c1-2ff79a9fcdf0.png)

In this scenario, BAW189 (abeam A10W) is illustrating the correct pro-mode correlation behaviour as they are not squawking as assigned. However, BAW978J, abeam stand 522, is showing as correlated despite not squawking correctly.

_vSMR_Profiles.json_ is as follows:

[code]

[2020-07-25 07:39] kusterjs commented on #75
What were the assigned and actual used Codes by these two aircraft?

[2020-07-25 07:44] TheoBearman commented on #75
Unknown in terms of their actually used codes. Their assigned codes were as specified in the departure list.

[2020-07-25 07:51] kusterjs commented on #75
As you have accept_pilot_squawk set true, according to the Wiki a code from the list do_not_autocorrelate_squawks is considered as a "correct" code, too. And the label is then displayed as a consequence.

[2020-07-25 09:26] TheoBearman commented on #75
As far as I am aware, this is only the case if the aircraft has not been assigned a squawk already by ES.

[2020-07-25 09:39] kusterjs commented on #75
I understand it differently reading the wiki. Be also aware that the ES pro mode is not the same as the vSMR pro mode, hence different logics can apply.
Your issue should be resolved if you set accept_pilot_squawk to false.

[2020-07-25 10:19] TheoBearman commented on #75
@pierr3 Can you clarify the logic, please?

I am referring to #13.

[2020-08-01 00:30] redac opened #76 "Afterglow setting does not get saved."
### Afterglow
![ES](https://i.imgur.com/8E0HLrQ.png)
It appears that the afterglow setting does not get saved, thus it auto reverts to ON each time you turn it OFF and restart ES.

[2020-08-10 12:47] MatisseBE opened #77 "Mouse cursor not working properly"
Cursor is set to the default white windows cursor instead of not being touched using "cursor": "Default" in JSON.

[2020-08-14 11:11] Ranbi2Delta commented on #77
Hi Pierre,

The mouse cursor seems to have broken again in the latest version of vSMR (it was working fine in version 1.4). We are using a custom cursor with our sector files (UAE vACC) that is configured with Topsky. Whenever you switch to a vSMR ground layout, it reverts to the vSMR black mouse cursor as soon as the mouse is moved, and is stuck like this until closing Euroscope.

I have tried di

[2020-08-14 12:02] pierr3 commented on #77
This is exactly the same problem Matisse had, will fix.

[2020-08-14 17:18] MatisseBE commented on #77
Funnily enough, that's also exactly the cursor I use!

[2020-08-14 20:24] Ranbi2Delta commented on #77
Yeah it's much more realistic. :)

[2020-09-01 00:27] droesen opened #78 "Release notes missing in binary release packages"
Hi,

please include release notes text file in the binary download ZIP file
(ideally with complete history of older versions too). Thanks!

Best regards,
Daniel

[2020-09-01 00:28] droesen opened #79 "DLL version file header not updated"
Hi,

I've noticed that the "version" tag of the DLL is not being set
to the actual version. For example, the current v1.5 DLL is
tagged as 1.2.0.0, whereas the version I have installed (that
identifies itself in ES Plugin dialog as "RC2-dev-e32", whatever
that means) claims to be 1.0.0.1, which I cannot find in GitHub
project tag list.

Stumbled over that problem when seeing the v1.5 release annou

[2020-09-03 21:40] hpeter2 commented on #78
A draft in attachments, if wanted.
[release-notes-draft.txt](https://github.com/pierr3/vSMR/files/5171524/release-notes-draft.txt)

[2020-09-03 21:56] hpeter2 commented on #79
Please note that the version you mentioned is 5 years old from [pre-release v1.2.0-beta.1](https://github.com/pierr3/vSMR/releases/tag/v1.2.0-beta.1) of Jul 5, 2015.

---

The issue mentioned is still a Bug inside the current [vSMR.rc file](https://github.com/pierr3/vSMR/blob/master/vSMR/vSMR.rc).
The _"FileVersion"_ and _"ProductVersion"_ should be updated to current build version 1.5-102. _"@app

[2020-09-04 07:24] droesen commented on #78
That looks excellent to me!

[2020-09-04 07:30] droesen commented on #79
Well that is the version provided by my VACC NAV department in their ES starter kit. :-) I was in the process of upgrading, trying to find out the changes between the version I have installed and your 1.5 release to make sure nothing breaks (or what config needs changing etc.). This is where I ran in those versioning issues.

Also, FILEVERSION and PRODUCTVERSION which are both set to 1,2,0,0.

[2020-09-04 11:49] hpeter2 commented on #57
Explanation:
Method _CSMRRadar::OnRefresh_, region tags does the following check:
`if (fp.GetFlightPlanData().GetPlanType() == "I" && TagReplacingMap["asid"].empty() && LabelsSettings[Utils::getEnumString(ColorTagType).c_str()].HasMember("nosid_color")) {...}`

The first part of that mentioned check unfortunately never succeeds, even if the Flightplan-Type is IFR ('I'). (See attached screenshot)
T

[2020-09-04 11:50] hpeter2 commented on #57
I forgot, the _"nofpl_color"_ configuration has to be below Tag-Type "uncorrelated"

[2020-09-04 14:30] hpeter2 commented on #50
@pierr3 I created some workaround with a default config. EuroScope & vSMR now load correctly without any customization. Nothing will be displayed beside the Topbar, the Inset and Euroscope.

You might also want to apply (a version) of my commit to insert the parsing Error into the MessageBox. [#e92a7e7](https://github.com/hpeter2/vSMR/commit/e92a7e75b54aad0b84ad08a7490db3c2b5095a1a)

[2020-09-05 17:44] pierr3 commented on #79
Indeed, this I need to update, but @droesen the leading version you should check is the version displayed in the EuroScope Plugin dialog. Indeed RC2-dev-e32 is so old it does not even have a version yet (RC2 stands for Release Candidate 2), so that file was not even in the versioning system used now. The plugin now uses https://semver.org/, to display compatibility with versions.

I will update th

[2020-09-05 17:45] pierr3 commented on #50
Thanks so much @hpeter2, I will check it out and properly attribute the change to you if I implement!

[2020-09-05 17:48] pierr3 commented on #78
Thanks for this, the release note are listed in the "https://github.com/pierr3/vSMR/releases" page as well as in the commit messages. I want to avoid duplication of information and increased maintenance, hence I would rather not have that file with the DLL. Let me know what you think.

[2020-09-06 11:41] hpeter2 commented on #76
@pierr3 Hi Pierre,
can you quickly explain commit [2c1d206](https://github.com/pierr3/vSMR/commit/2c1d206037e7cc83aa3913ef61df5b5befc3fece) ?
I tried to debug this Issue, but just didn't get this method called by EuroScope. A revert of mentioned commit doesn't crash EuroScope with latest version 3.2.1.25.

[2020-09-06 15:43] hpeter2 commented on #77
@Ranbi2Delta @MatisseBE
Hi,
I just made the cursors configurable in my fork. It would be great, if one of you could test that feature with your Topsky setup by pointing _"cursors"->"default"_ to your Topsky cursor.

[https://github.com/hpeter2/vSMR/releases/tag/1.5.0-hpeter6](https://github.com/hpeter2/vSMR/releases/tag/1.5.0-hpeter6)

Greets
Hendrik

[2020-09-07 19:37] pierr3 commented on #57
Thanks @hpeter2 ! I am having a look, so far your code looks great! Could you open pull request for this if you so wish?

[2020-09-14 21:47] pierr3 commented on #57
Should be fixed in nightly thanks to @hpeter2 !

[2020-09-14 21:47] #57 closed

[2020-09-18 08:31] Ranbi2Delta commented on #77
Thanks Hendrik, I'll test this out tonight.

[2020-10-01 08:01] luke11brown opened #81 "UK Controller Plugin Tag function/Items"
Hi Pierre,
with UKCP now assigning stands, I'd like to request we can call those tag functions/items within vSMR.

Tag item/function id's available here.

https://github.com/VATSIM-UK/uk-controller-plugin/blob/master/docs/TAG_ITEMS.md
https://github.com/VATSIM-UK/uk-controller-plugin/blob/master/docs/TAG_FUNCTIONS.md

Thanks,
Luke

[2020-10-01 22:54] N95JPL commented on #81
Now this would be good - Removes the need for using the Speed AS Gate option!

[2020-10-02 12:03] hpeter2 commented on #81
There is no way I know of getting other plugin's data / items.

It would be possible to let users define what functions are called on Tag Item click, but I don't know if it would be useful, if that Item value isn't shown in the Tag

[2020-10-02 14:27] AndyTWF commented on #81
Hi @hpeter2,

This is something that is possible, albeit not directly through EuroScope. It's something that I have used before for the AFV EuroScope Bridge plugin: https://github.com/AndyTWF/afv-euroscope-bridge

Essentially, if vSMR can provide a hidden window in Windows for plugins to hit and a message format, UKCP can fire you a message each time our tag item changes. In reverse vSMR could sen

[2020-10-02 15:02] pierr3 commented on #81
Indeed not possible in the current state of things. @AndyTWF would you be able to store the stand assignment in one of the flight strip free text box? (https://www.euroscope.hu/wp/flight-strip/). If I am not wrong, TopSky uses boxes 5 to 9, so I suggest using box 4. See the relevant function here: https://github.com/pierr3/vSMR/blob/61f873f7c355b4256d857abb8354f63a27e39064/lib/include/EuroScopePlu

[2020-10-02 15:22] TheoBearman commented on #81
Can we not just hit the [VATUK Controller API](https://github.com/VATSIM-UK/uk-controller-api)? As per the [release notes](https://community.vatsim.uk/files/downloads/file/215-uk-controller-plugin/), "stand data will be managed centrally on the UKCP API."

[2020-10-02 15:24] AndyTWF commented on #81
Hi @hpeter2  @pierr3 ,

This is something that is possible through Windows messaging via hidden windows - which is what I used for communicating with the AFV standalone client for the AFV EuroScope bridge (https://github.com/AndyTWF/afv-euroscope-bridge).

If each plugin were to provide hidden windows, we can pass messages to each other: UKCP could tell vSMR when the tag item changes, vSMR could t

[2020-10-02 15:25] AndyTWF commented on #81
@TheoBearman Unfortunately hitting the API wouldn't solve a lot of issues, UKCP connects to a websocket and listens for events in order to update stand assignments in the plugin: vSMR wouldn't be able to connect to this.

[2020-10-02 15:26] AndyTWF commented on #81
Yes this would also be very possible if the box is not used by TopSky! Do you know if the annotations are shared between controllers or are they just local?

[2020-10-03 14:54] AndyTWF commented on #81
I have updated UKCP so that it will annotate Box 4 with a stand allocation whenever they have been set.

https://github.com/VATSIM-UK/uk-controller-plugin/pull/174

Is vSMR able to update the annotations via its custom TAG items? If this is possible, then I can go a step further to monitor the annotations changing in order to update stand assignments.

[2020-10-03 17:40] hpeter2 commented on #81
Does '9007 - Open Stand Assignment Selection Menu' create a overlaying menu that's usable as a Tag Item click function?
We can easily call that function on-click of the Tag Item, which means we only need to read the value managed by your Plugin.

[2020-10-03 18:25] AndyTWF commented on #81
Yes it toggles a ES popup menu, similar to 9008 which toggles one of the edit boxes :)

[2020-10-03 18:28] hpeter2 commented on #81
@AndyTWF do you have a quick compiled version of that plugin with your feature implementation? This could be a quickly implemented feature

[2020-10-03 22:23] hpeter2 commented on #81
Added and tested as read-only Tag-Item.

I only added a way to call the uk-controller-plugin Function on my vSMR version, because I don't see an easy way to implement that hardcoded.

Greets

[2020-10-03 23:00] pierr3 commented on #81
Thanks @hpeter2 ! Merged the pull request, for the tag action we have no choice but to hardcode, but happy to do that as I supported hard coded implementation for vStrips previously anyway.

[2020-10-03 23:55] hpeter2 commented on #81
@AndyTWF
Just to complete the issue documentation, this vSMR feature will only work with a new uk-controller-plugin containing your merge request.
 https://github.com/VATSIM-UK/uk-controller-plugin/pull/174

[2020-10-04 14:01] AndyTWF commented on #81
Fabulous, thank you both! I have just merged the latest version of UKCP (https://github.com/VATSIM-UK/uk-controller-plugin/releases/tag/2.5.1) :)

[2020-10-05 10:21] luke11brown commented on #81
Working great!
However, I'd like to request a small amendment.

If there is no stand set, can we display "NoGATE" similar to the other iterations?

Thanks for the quick work guys

[2020-10-05 17:00] hpeter2 commented on #81
Is this agreely wanted? I selected the value that the Tag Item of UKCP uses, when none is selected (which is empty string). I'd usually vote against inconsistent things.
Why would the vSMR Item differ from the UKCP one?

[2020-10-05 19:24] luke11brown commented on #81
That is the current behaviour with assigned speed and scratchpad so this should be the same?
I believe the current behaviour is based on the simulation of the real system?
So we should keep it the same where possible?

Current Behaviour:
Using scratchpad string as gate - no entry returns "NoGATE"
Using assigned speed as gate - no entry returns "NoGATE"
Using "uk_stand" as gate - no entry returns n

[2020-10-07 13:50] hpeter2 commented on #81
@luke11brown I understand what you're saying, but this Item isn't managed by ourselves. Why shouldn't it be identical to the Plugin that manages the value?

[2020-10-07 16:26] pierr3 commented on #81
That is slightly incorrect, the plugin also does the same for the gate data from scratchpad or a-speed. We should check whether there is any data in the flight strip box, if there isn't, we display the system default of NoGate, behaviour should be consistent across tag items which present similar information and we should also prevent UKCP from having to do unnecessary operations should as setting

[2020-10-13 21:55] kusterjs opened #83 "PDC request not visible if no flight plan available"
I noticed that I (obviously) cannot reply to a PDC request of a pilot which I have no flight plan from. So if the pilot mixes up his call sign when sending the PDC request, I get a nice "ding", but nothing else. I know then that a request was sent, but not by whom. Currently, I then can only check on the hoppie website.
Would it be possible in such cases to send an automatic message to the pilot l

[2020-10-28 18:37] pierr3 commented on #81
NoGate is now returned also for the uk_stand tag item

[2020-10-28 18:46] pierr3 commented on #79
Fixed in latest commit

[2020-10-28 18:46] #79 closed

[2020-10-28 18:47] pierr3 commented on #78
Will be kept in commit list / release page

[2020-10-28 18:47] #78 closed

[2020-10-28 18:50] pierr3 commented on #76
@redac is this behaviour still occuring on the latest nightly?
@hpeter2 I thought that calling this function on destruction did cause a crash, if it did not my bad, no specific reason, it was part of the exploratory excercise to fix the crash issue

[2020-10-29 11:59] pierr3 commented on #81
Just checking something, is the flight strip annotation pushed to other controllers? I know it is pushed to other controllers on handoff, but what about without handoffs? In practice, is the gate displayed in vSMR visible to all controllers at the moment?

[2020-10-31 21:27] Iwhite67 opened #84 "VFR Color"
Hello,

I request new color for VFR Flight

je demande la possibilité de changer la couleur des vol VFR :)

[2020-11-01 09:49] erikwachters opened #85 "Remove background_color_on_runway"
Hello,
Is it possible to keep the SID colors for departing traffic even on the runway.
Currently the color of the label changes from sid color to background_color_on_runway when traffic enters the runway.

Thx

Erik Wachters

[2020-11-05 16:16] Iwhite67 opened #86 "No FPL in Departure List"
Hello, with aircraft who don't disconnect and send a new flight plan, he don't come into Departure list.

After disconnect and reconnect is good.

Maybe vSMR ? this problem is not only me but other ATC have this problem

[2020-11-05 18:06] kusterjs commented on #86
There is no specific departure list for vSMR. Verify if you can observe the same also on a non-vSMR display. I would assume this is the case. And as a result this issue is not related to vSMR.

[2020-11-05 18:35] Iwhite67 commented on #86
so, is a issue related from euroscope

[2020-11-05 18:35] #86 closed

[2020-11-06 23:39] droesen commented on #83
Was about to file an issue here as well... having had those cases today as delivery. You'll get a request and have no idea whom to tell that (s)he could wait forever for a reply without a FPL on file... :-)

Auto-reject seems to be the most sensible action to me but could also live with the automatic notification.

[2020-12-01 10:10] luke11brown commented on #81
Not sure, maybe @AndyTWF can confirm. However, I believe this will shortly be a non issue as the API will auto assign stands centrally, pushing to all controllers, where a manual change will also be noted/communicated outwith EuroScope. So, in theory, vSMR just has to read and Andy has doe all the hard work!

For reference: https://github.com/VATSIM-UK/uk-controller-api/pull/313

[2020-12-01 12:10] AndyTWF commented on #81
Hi both,

Apologies I missed the notification for the last message.

Right now as long as both controllers are using UKCP, they will see each others stand assignments in vSMR. Although UKCP doesn't auto assign yet (it'll be done soon!), all allocations by controllers are central and broadcast to all controllers using the plugin :)

[2021-01-02 16:29] luke11brown commented on #81
With the API now assigning squawks, this works as intended.

I suppose this issue can now be closed!

[2021-01-02 16:47] pierr3 commented on #81
Great, thanks everyone!

[2021-01-02 16:47] #81 closed

[2021-01-12 17:51] migte opened #87 "I can't seem to see any aircraft, what could I be doing wrong?"
Hey!

I am trying out euroscope/vSMR for the first time and I've encountered an issue.

When I follow the directions to do this:
![image](https://user-images.githubusercontent.com/68705081/104352252-6f2dbb00-54d4-11eb-8de0-ef26df251739.png)
and set the icao code to the airport I am trying to use
![image](https://user-images.githubusercontent.com/68705081/104352285-79e85000-54d4-11eb-88a6-fe4e8b817

[2021-01-12 18:44] migte commented on #87
On further note, I also can't seem to get aircraft at all on my departure list when testing this out otherwise. Anyone see anything wrong with this?
![image](https://user-images.githubusercontent.com/68705081/104358356-532e1780-54dc-11eb-9955-32bd5d1a0835.png)

[2021-01-12 19:23] migte commented on #87
Turns out this was an issue with my sector file provider. Problem has been resolved, gooday.

[2021-01-12 19:23] #87 closed

[2021-01-12 23:09] migte opened #88 "How to tell if an aircraft is squawking mode Charlie or not?"
What would be the way for me to verify a user is on mode C? I can't find any identifiers within the scope.

[2021-01-13 19:23] kusterjs commented on #88
https://github.com/pierr3/vSMR/wiki/Approach-window

[2021-01-13 20:53] migte commented on #88
Well this doesn't really help me because I am running ground at an airport that utilizes ASDE-X on all taxiways as ground. (So mode C.)

Someone mentioned to me a diamond and X symbol over the yellow aircraft. I haven't had the chance but I was going to check that out later to see what that symbology stood. Will report back.

[2021-01-17 13:59] migte commented on #88
Ok, so there is obviously no documentation on what the specific symbols mean, but I find that a diamond over an aircraft means mode C. As a suggestion to the developer, this is extremely hard to see on heavy aircraft due to their larger size on the scope and the contrast of the colors (although it is just fine on normal sized aircraft.) Could this possibly be enlarged?

[2021-01-17 16:22] LeoChen98 opened #89 "[feature]PDC metric and imperial switch"
* as the title, it's important to use vsmr in PRC airspace with PDC.

* I will try to complete this part by myself in my fork

* I am appreciate if anyone could help me in any way.

[2021-01-17 16:31] LeoChen98 commented on #88
it might be more obvious to set another color for those mode C aircraft?

[2021-01-17 17:53] migte commented on #88
Something like that, or perhaps just enlarge the current diamond to be visible on heavy aircraft rather than being the same size. I can't quite understand how this application is laid out (nor do I speak this language) so I don't know how difficult it would be to do something like that.

[2021-01-30 04:36] LeoChen98 commented on #89
Done, in Alpha, contact leo@zhangbudademao.com to get alpha version.

will create pull request later.

[2021-02-12 04:24] jlefkoff opened #92 "High Altitude Airport not Showing Aitcraft"
When attempting to use vSMR with the Denver International Airport (KDEN), No Aircraft show up on the ground radar. I have configured the `hide_above_alt` field in the `vSMR_Profiles.json` file to 100 feet above the airport elevation (5350'). I have confirmed that radar returns properly display on vSmr at KJFK, so this is not a euroscope config issue. I have also changed the `DisplayTypeNeedRadarCo

[2021-02-12 04:44] jlefkoff commented on #92
I did not see issue #65 This has solved my issue.

[2021-02-12 04:44] #92 closed

[2021-02-23 18:00] jonohanekom opened #93 "Targets Menu has disappeared"
Hi all, firstly thank you for the amazing plugin.

Since closing Euroscope after installing the plugin the targets menu in the menu bar has disappeared. I am sure that I saved all changes before closing. Have I missed a step in the install process? Is the plugin required to run in the professional mode for the targets menu to appear? Thanks in advance for the help.

[2021-02-23 18:35] #93 closed

[2021-02-23 18:35] jonohanekom commented on #93
The issue was resolved by reloading the plugin.

[2021-03-01 14:38] Koploper9 opened #94 "Correlation with mode C"
Hello

Would it be possible to add an option to the pro mode to only show the TAG when the aircraft has enabled squawk mode C?

Kind regards

[2021-03-10 19:05] #88 closed

[2021-03-10 20:22] migte commented on #76
Hello.

I am also experiencing this issue. The afterglow option (as well as all of the other options) do not save between sessions, I'm currently running the nightly build - originally the stable one but I read the message above and figured it may have been a solution. Neither work.

[2021-03-10 21:35] migte commented on #76
In fact, none of the options save. I'll make a new issue then as the problem is more broad than just the afterglow.

Edit; Solved in another issue

[2021-03-10 21:36] migte opened #95 "no vSMR options save between sessions."
No options found in Euroscope such as the SRW screens, Label Font Size, Afterglow, GRND Trail Dots,, and so on save between sessions. This makes it annoying to have to re do the configuration every time you load up Euroscope.

[2021-03-11 12:44] migte commented on #95
Note - the issue remains - but I found a temporary workaround for some of the options in the .asr file. I just wrote in some definitions as found in SMRRadar.cpp for them to load when I open the file. Still doesn't save though.

[2021-03-11 12:47] pierr3 commented on #95
This is a common EuroScope bug. The first time you load or create a new vSMR ASR, you need to force the saving by selecting Open SCT -> Save ASR then Open SCT -> Close ASR and hit save in the dialog. After that, changes should pop up every time you close the ASR in the normal manner.

[2021-03-11 13:52] migte commented on #95
That worked, thanks!

[2021-03-11 13:52] #95 closed

[2021-03-19 15:04] KingSpidey101 opened #96 "Pop up information feature request"
Can there be a feature where initially only the callsign shows up in the tag and when we hover over that tag as and when required, the rest information would be displayed.
This can help reduce the space taken by the tags without compromising the information included within it.

[2021-08-14 09:01] jimihendrix272 opened #97 "Heathrow profile"
Great software!

Can I download a EGLL profile from somewhere?
I would love to have smaller tags and  different colours for the SIDS!

Thanks, John

[2022-02-09 20:57] DaRealCodeWritten opened #98 "PDC Phraseology/Format change"
I've been looking at the CPDLC PDC system included in vSMR but can't find a way to reformat the PDC to work in other places, is there a way or is it possible to implement this in future versions?

[2022-02-10 07:58] oscarty01 opened #99 "Displaying SRW by default?"
Is it possible to change the setting file of VSMR to display the SRW automatically on a specific x y position in Euroscope?

[2022-03-05 15:57] pierr3 commented on #98
There is currently no way to do that aside from a code update, it's also unlikely to be implemented as there is not going to be new features update of this plugin in the future.

[2022-03-05 15:57] pierr3 commented on #99
Yes, just save the ASR properly with the SRW open and they'll open again in the same place when you open the ASR next.

[2022-03-05 15:57] #99 closed

[2022-03-05 15:58] pierr3 commented on #97
Have a look at the VATUK forums and controller pack.

[2022-03-05 15:58] #97 closed

[2022-03-05 15:59] pierr3 commented on #96
That's not a feature of the real system and hence there is no plan to implement unfortunately. The nature of the ground display also means you should have as much as possible without interaction. Your main working space is the departure list or a strip system for example.

[2022-03-05 15:59] #96 closed

[2022-03-05 16:01] pierr3 commented on #94
Probably will not be added, the plug-in simulate a correlation system which is a bit more advance than mode C, like the real world systems which use ADS-B, mode S and MLAT.

[2022-04-04 19:01] e4rthdog commented on #98
Will vSMR be maintained for future ES versions or it has been replaced by other plugin?

[2022-04-09 07:14] DaRealCodeWritten commented on #98
Alright, where's the PDC phraseology coded? I would like to modify it for use in CZVR Vancouver FIR given that the Hoppie software does not integrate well with EuroScope and is hard to manage for people with only 1 monitor

[2022-04-26 00:29] theduc4a opened #100 "Arrival traffic auto correlate / TAG with no callsign (arrival) when controlling alone"
Hi! As u know that if only GND controller online, when the traffic comes to the arrival dest, the tag will be not auto correlate. I found that it was really hard for controller who have to control alone to take the tag (without their callsign). Honestly with me it is quite wierd for controller to assign squawk on arriving aircraft. Any chances on update the new function for arriving traffic? If ye

[2022-05-01 03:54] earthjasonlin opened #101 "Do not auto acquire tags"

[2022-05-01 03:55] earthjasonlin commented on #101
Could you please add a config in json to allow user to decide if targets are auto acquired

[2022-05-01 10:07] kusterjs commented on #101
I think you can have the desired result in setting the `pro_mode` to ``false``.

[2022-05-02 02:34] earthjasonlin commented on #101
isn't it 'false' by default?

At 2022-05-01 18:07:39, "Jonas Kuster" ***@***.***> wrote:

Could you please add a config in json to allow user to decide if targets are auto acquired

I think you can have the desired result in setting the pro_mode to false.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.*

[2022-08-02 20:04] scotflieger opened #102 "Selecting Departure List entry does not highlight Tag"
When using vSMR selecting an aircraft’s line in Departure List does not highlight or identify the related aircraft tag. Clicking on a Tag does highlight the line in Departure List.

[2022-08-22 19:57] scotflieger opened #103 "Save positions of SWR and Time to Land boxes"
Each time ES is started with vSMR the SWR and Time to Land boxes have to be repositioned. The latter can only be adjusted once an aircraft is within 60s of touchdown. It would be extremely useful if these box positions could be saved at their last position.